/*                                                      */
/* Macromolecular Crystallography Main Style Sheet */


/* Ana changed width of secontary navigation menu to relative units
(Aug 2nd 2004 and created the up id */
/*Ann changed width to 160px from 20%*/

td#leftside {width: 145px; background: #669999;}

  
td#leftside td {border-bottom: 1px solid #333333; font-size: 12px;
  padding: 4 0 5px 0.33em; font-weight: bold}
  
td#leftside td#up {border-bottom: 1px solid #333333; font-size: 12px;
	    font-weight: bold; text-align: center; padding: 4 0 5px 0.33em;}


td#leftside table {margin-top: 3px; margin-right: 2px;}
td#leftside a:link {color: white; text-decoration: none;}
td#leftside a:visited {color: white; text-decoration: none;}
td#leftside a:hover {color: #6666cc;}

