##############################
# BL_simple1.config
##############################

# dcss server.
dcss.host=localhost

#serverPorts.txt file fields conversion table
#   1st -->dcss.scriptPort 
#   2nd -->dcss.hardwarePort
#   3rd -->dcss.guiPort
dcss.scriptPort=14244
dcss.hardwarePort=14242
dcss.guiPort=14243
dcss.authProtocol=2

# how often to validate session ids (in msec)
dcss.validationRate=30000

# dcss logging: 
# To turn off stdout logging, set logStdout to false
# To turn off udp log, set logUdpHost or logUdpPort to an empty string.
# To turn off log file, set logFilePattern or logFileSize or logFileMax to an empty string
# logLevel can be OFF, SEVERE, WARNING, INFO, CONFIG, FINE, FINER, FINEST OR ALL.
dcss.logStdout=true
dcss.logUdpHost=
dcss.logUdpPort=
dcss.logFilePattern=./bl_simple1_dcss_log_%g_%u.txt
#dcss.logFilePattern=
dcss.logFileSize=31457280
dcss.logFileMax=20
dcss.logLevel=ALL
dcss.logLibs=

# Dumping database.dat to text file. Set dbDumpFlag=false to turn it off.
dcss.dbDumpFlag=false
dcss.dbDumpFile=../../dcsconfig/data/BL_simple1.dump
dcss.dbDumpRate=10000

dcss.forcedDoor=closed

# override the default config in default.config
# authentication server
auth.host=localhost
auth.port=17000
auth.secureHost=localhost
auth.securePort=17001

bluice.useSsl=0
bluice.useRobot=0
bluice.tabOrder=Hutch Collect Users Setup 
#bluice.deviceDefinitionFilename=
#bluice.mirrorView=
bluice.hutchView=DCS::HutchOverview
bluice.monoView=DoubleCrystalMonoView
bluice.toroidView=ToroidView
bluice.beamlineView=goniometer detectorPosition

dcss.display=local dontcare smblx5.slac.stanford.edu:0.0 #Beamline console
dcss.display=local smblx5.slac.stanford.edu :0.0 #Beamline console

simdetector.name=detector
simdetector.imageDir=/data/scottm
simdetector.imageFilter=*.img

# image server
imgsrv.host=localhost
imgsrv.guiPort=14005
imgsrv.webPort=14006
imgsrv.httpPort=14007
imgsrv.tmpDir=/home/webstaff/jpegscratch
imgsrv.maxIdleTime=60
imgsrv.logStdout=true
imgsrv.logUdpHost=
imgsrv.logUdpPort=
imgsrv.logFilePattern=./imgsrv_log_%d.log
imgsrv.logFileSize=31457280
imgsrv.logFileMax=1
imgsrv.logLevel=ALL
imgsrv.logLibs=
