###############################################################################
#                        SA - slow acquisition
###############################################################################
# SA monitor output is a matrix: [Va Vb Vc Vd X Y Q SUM CX CY]
# Va .. Vd            amplitudes
# X, Y, Q, SUM        calculated positions and factors
# CX, CY              x and y position correction coefficients 
#

record(bi, "$(DEVICE)SA_MONITOR") {
	#field(DTYP, "asynUInt32Digital")
	#field(INP, "@asynMask($(PORT), 200, 0x1, 1.0)")
	field(SCAN, "Passive")
	field(FLNK, "$(DEVICE)SA_ARRAY_MONITOR PP")
}

record(waveform, "$(DEVICE)SA_ARRAY_MONITOR") {
	#field(DTYP, "asynInt32ArrayIn")
	#field(INP, "@asyn($(PORT), 200)")
	field(DESC, "A B C D X Y Q S CX CY")
	field(NELM, "16")
	field(FTVL, "LONG")
	field(FLNK, "$(DEVICE)SA_A_MONITOR PP")
}

record(subArray, "$(DEVICE)SA_A_MONITOR") {
	field(INP, "$(DEVICE)SA_ARRAY_MONITOR")
	field(INDX, "0")
	field(MALM, "16")
	field(FTVL, "LONG")
	field(FLNK, "$(DEVICE)SA_B_MONITOR PP")
}

record(subArray, "$(DEVICE)SA_B_MONITOR") {
	field(INP, "$(DEVICE)SA_ARRAY_MONITOR")
	field(INDX, "1")
	field(MALM, "16")
	field(FTVL, "LONG")
	field(FLNK, "$(DEVICE)SA_C_MONITOR PP")
}

record(subArray, "$(DEVICE)SA_C_MONITOR") {
	field(INP, "$(DEVICE)SA_ARRAY_MONITOR")
	field(INDX, "2")
	field(MALM, "16")
	field(FTVL, "LONG")
	field(FLNK, "$(DEVICE)SA_D_MONITOR PP")
}

record(subArray, "$(DEVICE)SA_D_MONITOR") {
	field(INP, "$(DEVICE)SA_ARRAY_MONITOR")
	field(INDX, "3")
	field(MALM, "16")
	field(FTVL, "LONG")
	field(FLNK, "$(DEVICE)SA_X_MONITOR PP")
}

record(subArray, "$(DEVICE)SA_X_MONITOR") {
	field(INP, "$(DEVICE)SA_ARRAY_MONITOR")
	field(INDX, "4")
	field(MALM, "16")
	field(NELM, "1")
	field(FTVL, "LONG")
	field(FLNK, "$(DEVICE)SA_Y_MONITOR PP")
}

record(subArray, "$(DEVICE)SA_Y_MONITOR") {
	field(INP, "$(DEVICE)SA_ARRAY_MONITOR")
	field(INDX, "5")
	field(MALM, "16")
	field(FTVL, "LONG")
	field(FLNK, "$(DEVICE)SA_Q_MONITOR PP")
}

record(subArray, "$(DEVICE)SA_Q_MONITOR") {
	field(INP, "$(DEVICE)SA_ARRAY_MONITOR")
	field(INDX, "6")
	field(MALM, "16")
	field(FTVL, "LONG")
	field(FLNK, "$(DEVICE)SA_SUM_MONITOR PP")
}

record(subArray, "$(DEVICE)SA_SUM_MONITOR") {
	field(INP, "$(DEVICE)SA_ARRAY_MONITOR")
	field(INDX, "7")
	field(MALM, "16")
	field(FTVL, "LONG")
	field(FLNK, "$(DEVICE)SA_CX_MONITOR PP")
}

record(subArray, "$(DEVICE)SA_CX_MONITOR") {
	field(INP, "$(DEVICE)SA_ARRAY_MONITOR")
	field(INDX, "8")
	field(MALM, "16")
	field(FTVL, "LONG")
	field(FLNK, "$(DEVICE)SA_CY_MONITOR PP")
}

record(subArray, "$(DEVICE)SA_CY_MONITOR") {
	field(INP, "$(DEVICE)SA_ARRAY_MONITOR")
	field(INDX, "9")
	field(MALM, "16")
	field(FTVL, "LONG")
	field(FLNK, "$(DEVICE)SA_FINISHED_MONITOR")
}

record(calc, "$(DEVICE)SA_FINISHED_MONITOR") {
	field(CALC, "A+1")
	field(INPA, "$(DEVICE)SA_FINISHED_MONITOR PP")
}
