#parse("/silPages/topbanner.html")
<body>
<span style="float:right; font-size:100%; padding-right:10px">
You are $appSession.authSession.userName<br/><a class="link" href="Logout.html">Logout</a>
</span>
<h1><a href="http://ssrl.slac.stanford.edu"><img src="images/ssrl2.gif" border="0"  height="50" width="50"/></a>Add Beamline Form</h1>
<font color="red">
#springBind("beamline")
$status.errorMessage
</font>
<form name="beamlineForm" method="post">
#springBind("beamline.name")
Beamline Name:<input type="text" name="$status.expression" value="$!status.value"/><span class="error">$status.errorMessage</span><br/>
<input type="submit" name="submit" value="Submit"/>
<input type="submit" name="_cancel" value="Cancel"/>
</form>
 
</body>

</html>