
#set($homeUrl="http://smb.slac.stanford.edu/public/index.shtml")
#set($facilitiesUrl="http://smb.slac.stanford.edu/public/facilities/index.shtml")
#set($userGuideUrl="http://smb.slac.stanford.edu/public/users_guide/index.shtml")
#set($scheduleUrl="http://smb.slac.stanford.edu/public/schedule/index.shtml")
#set($formsUrl="http://smb.slac.stanford.edu/public/forms/index.shtml")
#set($researchUrl="http://smb.slac.stanford.edu/public/research/index.shtml")
#set($newsUrl="http://smb.slac.stanford.edu/public/news/index.shtml")
#set($staffUrl="http://smb.slac.stanford.edu/public/staff/index.php")
#set($linkdsUrl="http://smb.slac.stanford.edu/public/links/index.shtml")
  

<a id="current" href=$homeUrl >Home</a> | 
<a id="Register" href=$facilitiesUrl >Facilities</a> |
<a id="Register" href=$userGuideUrl >User Guide</a> |
<a id="Register" href=$scheduleUrl >Schedule</a> |
<a id="Register" href=$formsUrl >Forms</a> |
<a id="Register" href=$researchUrl >Research</a> |
<a id="Register" href=$newsUrl >News</a> |
<a id="Register" href=$staffUrl >Staff</a> |
<a id="Register" href=$linkdsUrl >Links</a>



