#parse("/silPages/topbanner.html")

<script language="javascript">

function gotoCassetteList() {
    document.location.replace("cassetteList.html");
}
</script>

<body>
#set ($authSession = $appSession.authSession)

<span style="float:right; font-size:100%; padding-right:10px">
You are ${authSession.userName}<br/><a class="link" href="Logout.html">Logout</a>
</span>

<h1><a href="http://ssrl.slac.stanford.edu"><img src="images/ssrl2.gif" border="0"  height="50" width="50"/></a>Delete Sil Confirmation</h1>

<p>Sil $silId is locked. It maybe in use for crystal screening.</p>

<br/>
<form action="cassetteList.html" method="post">
<input type="hidden" name="method" value="deleteSil"/>
<input type="hidden" name="forced" value="true"/>
<input type="hidden" name="silId" value="$silId"/>
<input type="submit" value="Delete Anyway" />
<input type="button" value="Cancel" onclick="gotoCassetteList()"/>
</form>
</body>

</html>