#if ($appSession.view == "cassetteList")
<span class="tab_selected" style="margin-left:2px" selected><a class="tab_selected" href="cassetteList.html">View Cassettes</a></span>
<span class="tab"><a class="tab" href="beamlineList.html">View Beamlines</a></span>
#else
<span class="tab" style=" margin-left:2px"><a class="tab" href="cassetteList.html"">View Cassettes</a></span>
<span class="tab_selected" selected><aclass="tab_selected" href="beamlineList.html">View Beamlines</a></span>
#end
