/*                                                     */
/* Web-Ice Main Style Sheet */

body {
     margin: 1em; 
     background: white; 
     font-family:Times, Garamond, serif;
     font-size: 1em;
}

/* Page title */

/*h2,h3,h4 {
	    color:#6666cc;
	    font-size: 1.1em;
	    }*/
h2,h3,h4 {
	    color:black;
	    font-size: 1.1em;
	    }

h1	    {
	    font-size: 1.2em;	     
	    border-bottom: 0.1em groove gray;
	    }

h2	    {
	    color:#6666cc;
	    font-size: 1.2em;
	    }

table {
      font:inherit;
      }


/*Help id for links to on-line doc.*/

#help  {
	  font-style: oblique; 
	  font-weight:bold; 
	  font-family:courier; /*courier font looks cute for "i" icon*/
	  font-size:1em;
	  color: blue; 
          text-decoration:none;
	  background-color: yellow; 
	  border: solid;
	  border-style: outset;
	  padding-left:0.25em;padding-right:0.25em;
	  }

span#help {
	  font-family:Times;
	  font-size:1em;
	  }


/*Action buttons */


input.actionbutton1
{
   font-size:0.5em;
   font-family:Arial,sans-serif;
   font-weight:bold;
   font-style:italic;
   color:#FF0000;
}


/* Boom classes */

.toolbar_body {
margin-top:0.25em;
background-color:#CCCCCC;
background-image:url(../images/gradient6897.png);
background-repeat:repeat-x;
}

.tab {
color:black;
border-right: 2px solid gray;
padding-right: 0.5em;
}

 .tab_white {
color:black;
border-right: 2px solid gray;
padding-right: 0.5em;
} 

.tab_right {
color:black;
}

.a_selected {
color:black;
text-decoration:none;
}

.a_unselected {
color:black;
text-decoration:none;
}
 
.a_unselected:hover {
color:black;
text-decoration:underline;
}

.selected {
font-weight:bold;
}

.unselected {
}

.selected_right {
font-weight:bold;
}

.unselected_right {
}

.selected_old {
color:white;
background-color:gray;
font-weight:bold;
border-width:1;
border-color:black;
border-style:solid;
padding-left:0.5em;
padding-right:0.5em;
}

.unselected_old {
color:black;
background-color:white;
border-width:1;
border-color:black;
border-style:solid;
padding-left:0.5em;
padding-right:0.5em;
}

.mainBody {
     margin-top:0.5em; 
     background:white; 
     font-family:Times, Garamond, serif;
     font-size: 1em;
}


/* Ana's classes */

.error {
     color: #FF0000;
}

/*Text alignment */

.center {
        text-align: center;
}


.middle {
        vertical-align: middle;
}


/*Text spacing between list items*/

li.p {
     padding-top: 0.25em;
     padding-bottom: 0.25em;
     }

