
.selected {
border-width:1;
font-weight:bold;
border-color:gray;
border-style:solid;
padding-left:0.5em;
padding-right:0.5em;
padding-bottom:0.5em;
background-color:#CCCCCC;
background-image:url(../images/gradient6897.png);
background-repeat:repeat;
color:black;
text-decoration:none;

}
.unselected {
border-width:1;
border-color:#CCCCCC;
border-style:solid;
padding-left:0.5em;
padding-right:0.5em;
padding-bottom:0.5em;
background-color:white;
color:black;
background-image:url(../images/gradient613284.png);
background-repeat:repeat;
text-decoration:none
}
