H1
{
    MARGIN-TOP: 10px;
    FONT-SIZE: 14pt;
    MARGIN-BOTTOM: 0px;
    COLOR: navy
}
LI
{
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 0px;
    VERTICAL-ALIGN: middle;
    LIST-STYLE-TYPE: none
}
LI IMG
{
    CURSOR: hand
}
IMG.clsNoHand
{
    CURSOR: default
}
IMG.noHand
{
    CURSOR: default
}
UL
{
    MARGIN-TOP: 5px;
    MARGIN-LEFT: 15px;
    CURSOR: default;
    MARGIN-RIGHT: 15px
}
UL.clsShown
{
    DISPLAY: list-item
}
LI UL
{
    MARGIN-TOP: 0px;
    MARGIN-LEFT: 20px;
    MARGIN-RIGHT: 20px
}
A
{
    COLOR: #003366;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #003366;
    TEXT-DECORATION: underline
}
DIV.clsDocBody
{
    MARGIN-LEFT: 10px;
    MARGIN-RIGHT: 10px
}
DIV.clsLoadMsg
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    PADDING-LEFT: 4px;
    BORDER-LEFT: black 1px solid;
    WIDTH: 150px;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: ivory
}
A.clsCurrentLI
{
    BACKGROUND-COLOR: #ddeeff
}
DIV.clsProdDoc IMG
{
    MARGIN-TOP: 0px;
    MARGIN-BOTTOM: 0px;
    VERTICAL-ALIGN: bottom;
    MARGIN-RIGHT: 5px
}
DIV.clsNavBottom IMG A
{
    FONT-WEIGHT: bold;
    VERTICAL-ALIGN: middle;
    MARGIN-RIGHT: 5px
}
DIV A
{
    align: middle
}
.clsLabel
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt
}
INPUT.clsButton
{
    BORDER-RIGHT: thin outset;
    BORDER-TOP: thin outset;
    FONT-WEIGHT: bolder;
    TEXT-TRANSFORM: capitalize;
    BORDER-LEFT: thin outset;
    COLOR: white;
    BORDER-BOTTOM: thin outset;
    FONT-FAMILY: Arial, Verdana;
    BACKGROUND-COLOR: #006699
}
INPUT.clsButtonBar
{
    FONT-WEIGHT: 900;
    FONT-SIZE: 9pt;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial
}
SELECT
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, Arial
}
.clsInput
{
    FONT-SIZE: 10pt
}
.clsSelect
{
    FONT-SIZE: 9pt
}
.clsLLabel
{
    FONT-SIZE: 7pt
}
.clsCaption
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt
}
.clsButtonX
{
    MARGIN-LEFT: 4pt;
    COLOR: white;
    MARGIN-RIGHT: 4pt;
    BACKGROUND-COLOR: #006699;
    TEXT-DECORATION: underline
}
A.clsLinkX
{
    COLOR: purple;
    TEXT-DECORATION: underline
}
