
 <frameset rows="22%,*">
  <frame name="banner" scrolling="auto" src="" marginwidth="1" marginheight="1">
  
   <HTML><HEAD><TITLE>Beamline Video System</TITLE>
  <link rel="STYLESHEET" type="text/css" href="https://smb.slac.stanford.edu/smb_mainstyle.css">

   </HEAD>
   <BODY>
		<table cellspacing="0">
        <tr id="content-top">
   	    </tr></table>
  
  
  <frameset cols="25%,75%,*">
  <frame name="controls" src="http://192.168.1.4:8080/cgi-bin/mjpg/video.cgi?resolution=320x240&compression=100&camera=1&date=0&clock=0&text=0&showlength=1" scrolling="auto" marginwidth="1" marginheight="1">
  <frame name="video" src="" marginwidth="1" marginheight="1" scrolling="auto">
  </frameset>
  <noframes>
    <body>
     <p>This page uses frames, but your browser doesn't support them.</p>
    </body>
  </noframes>
   
  </frameset>
  </HTML>
