
dcss.(class)=Pilatus::DhsProtocol
#yangx dcss.dcssHost=blctl122p.slac.stanford.edu
dcss.dcssHost=localhost
dcss.dcssHardwarePort=14242

pilatusDhs.(class)=Pilatus::Dhs
pilatusDhs.dcss(ref)=dcss
pilatusDhs.pilatus(ref)=pilatus
pilatusDhs.pilatusMonitor(ref)=pilatusMonitor
pilatusDhs.fileMover(ref)=fileMover

#location of the camserver for the pilatus detector
pilatus.(class)=Pilatus::DetectorControl
pilatus.(singleton)=true
pilatus.dcss(ref)=dcss
pilatus.fileMover(ref)=fileMover
pilatus.host=10.19.0.3
pilatus.port=41234
pilatus.flatFieldFile=
#pilatus.flatFieldFile=/home/det/p2_det/correct/goodpix_mask.tif
pilatus.imageXSizePixels=2100
pilatus.imageYSizePixels=2290
#pilatus.imageXSizePixels=520
#pilatus.imageYSizePixels=548
#pilatus.imageXSizePixels=2462
#pilatus.imageYSizePixels=2526
pilatus.pixelXSizeUm=150
pilatus.pixelYSizeUm=150
pilatus.tmpDir=/home/nysbc/temp
pilatus.sumImagesDeltaDeg=0

pilatusMonitor.(class)=Pilatus::BackgroundMonitor
pilatusMonitor.dcss(ref)=dcss
pilatusMonitor.pilatus(ref)=pilatus
pilatusMonitor.monitorTempPeriodSec=60
pilatusMonitor.monitorDiskPeriodSec=5
#pilatus.impHost=smbfsp1


fileMover.(class)=Pilatus::FileMover
fileMover.(singleton)=true
fileMover.dcss(ref)=dcss
fileMover.sleepTimeMs=1000
fileMover.imperson(ref)=imperson

imperson.(class)=DCS::ImpersonWriteFiles
imperson.host=localhost
imperson.port=61001

#test classes
testFileMover.(class)=Pilatus::TestFileMover
testFileMover.fileMover(ref)=fileMover

testImpMoveFiles.(class)=Pilatus::TestImpMoveFiles
testImpMoveFiles.imperson(ref)=imperson


logger.(class)=Pilatus::Logger
logger.appName=pilatusDhs
logger.filePattern=/usr/local/dcs/pilatusDhs/logs/pilatusDHS-%g_%u.log
logger.fileSize=31457280
logger.numFiles=10
logger.level=LOG_ALL
logger.stdout=true
logger.appendToFile=false


